.wsu-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #981E32;
  z-index: 1;
  background-image: url('../assets/images/wsu-logo.svg'); /* Path to SVG */
  background-repeat: repeat; /* Repeat the SVG */
}



.profile-card {
  z-index: 2;
    margin-top: 10vh;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
  }
  /*
  .profile-avatar {
    display: flex;
    justify-content: center;
    margin-top: -40px;
  }
  
  .profile-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid white;
  }
  
  .profile-name {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .profile-pronouns {
    text-align: center;
    color: gray;
    margin-top: 5px;
  }
   */