.wsu-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #981E32;
  z-index: -1;
  background-image: url('../assets/images/wsu-logo.svg'); /* Path to SVG */
  background-repeat: repeat; /* Repeat the SVG */
}

.custom-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-title {
  /* font-size: 24px; */
  font-weight: bold;
  text-align: center;
}
.profile-subtitle {
  font-size: 16px;
  color: gray;
  text-align: center;
}

ion-avatar {
  /* --border-radius: 14px; */
  margin: 0 auto;
  margin-top: 50px;
  width: 150px;
  height: 150px;
}


.profile-card {
    z-index: 2;
    margin-top: 5vh;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
  }

